# API de Football-Data.org
FOOTBALL_DATA_API_KEY=your_api_key_here

# Entorno
ENVIRONMENT=development

# Redis
REDIS_URL=redis://redis:6379/0

# Backend FastAPI
API_PORT=15801

# Frontend Next.js
NEXT_PUBLIC_API_URL=http://localhost:15801/api/v1
